extends layout
block pageOptions
	a.pageOptions(href='/user') User Dashboard
	a.pageOptions(href='/admin/users') Show users
	a.pageOptions(href='/admin/slices') Show slices
	a.pageOptions(href='/admin/nodes') Show nodes
	a.pageOptions(href='/admin/users/custom') Show requests for custom slices
	a.pageOptions(href='/dump_logfile' target='_blank') Dump the logfile
	a.pageOptions(href='/dump_error_logs' target='_blank') Show Error logs
	a.pageOptions(href='/admin/show_events' target='_blank') Show Slice Events
	a(href='/statusPage.html') Current GEE Status
