extends admin_layout
block custHead
    script(type='text/javascript').
       function checkInteger(aString, minVal, maxVal) {
         return (!isNaN(aString)) && Number(aString) >= minVal && Number(aString) <= maxVal
       }
       function checkIP(aString) {
         var components = aString.split('.')
         if (components.length != 4) return false;
         return components.reduce(function(prev, aComponent) {
             return prev && checkInteger(aComponent, 0, 255)
         }, true)
       }
       function checkOK(aString, dotOK) {
         if (aString.length == 0) {
             return false;
         }
         var okChars = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ_-'
         if (dotOK) okChars += '.'
         var chars = aString.split('')
         return chars.reduce(function(prev, aChar) {
             return prev && okChars.indexOf(aChar) >= 0
         }, true)
       }
       // Check the inputDNS
       function getDNSName(inputDNSName) {
         var myDNSName = inputDNSName;
         if (inputDNSName.endsWith('.gee-project.net')) {
             myDNSName = inputDNSName.substring(0, inputDNSName.indexOf('.gee-project.net'))
         }
         var result = {ok: false, value:inputDNSName}
         if (checkOK(myDNSName, false)) {
             result.ok = true;
             result.value = myDNSName + '.gee-project.net'
         }
         return result;
       }
       // Confirm adding a node, checking the values are OK first and making sure it has a good dns name
       function confirmAdd(ipAddress) {
        var form = document.forms['addNodeForm']
        var ipAddress = form['ipAddress'].value
        if (!checkIP(ipAddress)) {
            alert('Invalid IP Address ' + ipAddress)
            return false;
        }
        var sshNickname = form['sshNickname'].value
        if (!checkOK(sshNickname, true)) {
            alert('Invalid SSHNickname ' + sshNickname)
            return false;
        }
        var siteName = form['siteName'].value
        if (siteName == '') {
            alert('Sitename cannot be empty!')
            return false;
        }
        var dnsName = form['dnsName'].value
        var result = getDNSName(dnsName)
        if (result.ok) {
             form['dnsName'].value = result.value
        } else {
            alert('Invalid DNS Name ' + dnsName)
            return false;
        }
        var confirmString = 'Add Node at ipAddress ' + ipAddress
        confirmString += '.  With DNS Name: ' + result.value
        confirmString += ', SSH Nickname ' + sshNickname  + ' at site ' + siteName
        return confirm(confirmString)

       }
block pageHeader
    div.pageHeader GEE Nodes
block content
    form(name = 'addNodeForm', action='/admin/node/addNode', onsubmit="return confirmAdd()", method='post')
        table
            tr
                td IP Address
                td
                    input(type = 'text', name='ipAddress')
            tr
                td Site Name
                td
                    input(type = 'text', name='siteName')
            tr
                td SSH Nickname
                td
                    input(type = 'text', name='sshNickname')
            tr
                td DNS Name
                td
                    input(type = 'text', name='dnsName')
            tr
                td Permanent
                td
                    input(type='radio', name='permanent') True
                    br
                    input(type='radio', name='permanent', checked=true)  False
        input(type='Submit', label='Add Node')
    
