extends layout
block pageOptions
	a.pageOptions(href='/user') User Dashboard
	a.pageOptions(href='/admin/users') Show users
	a.pageOptions(href='/admin/slices') Show slices
	a.pageOptions(href='/admin/users/requests') Show add-user requests
	a.pageOptions(href='/dump_logfile' target='_blank') Dump the logfile
	a.pageOptions(href='/dump_error_logs' target='_blank') Show Error logs