extends layout
block content
		div.pageHeader Admin Console for User #{user}
		div Admin #{user} logged in.
		div Available actions:
		div
			a.pageOptions(href='/users') Show users
			a.pageOptions(href='/slices') Show slices
			a.pageOptions(href='/user_requests') Show add-user requests
			a.pageOptions(href='/dump_logfile') Dump the logfile
			a.pageOptions(href='/dump_error_logs') Show Error logs
