extends admin_layout
block pageHeader
	div.pageHeader GEE Users
block content
	form(method="post", action="/update_users")
		table(border=1)
			tr
				th User
				th Admin
				th Slice
			each user, i in userlist
				tr
					td #{user.email}
					td
						input(type="checkbox", value=user.email, name="admin", checked=user.admin)
					td #{user.slice}
		br
		button(type="submit") Update
	br
	br
	form(method="get", action="/add_user")
		table
			tr
				td New User
				td: input(type="text", name="user", size=30)
			tr
				td(colspan=2, style="text-align:center")
					button(type="submit")	Add User