doctype html
body
h1 Slice Allocation Success!
p Congratulations #{fields.user}.  Your slicelet has been allocated. You can download your credentials and slice information here:
a(href=fields.download_url) #{fields.download_url}
