doctype html
body
center
   h1 Slice Allocation Success!
p Congratulations #{fields.user}.  Your slicelet #{fields.slice} has been allocated. You can download your credentials and slice information here:
a(href=fields.download_url) #{fields.download_url}
center
   img(src="/images/GEELogo.png")
