doctype html
html
head 
  title Error Found
body
  center
    h1 Error Found!
  p.
     Well, this is why it's called a beta period.  You've hit a bug.  We've initialized the body of the email below
     with all the data we generated, but any additional comments you can supply would be very helpful.  Just
     add anything you like, and hit the submit button.  This will take you into your email program, look it over,
     and hit send.  And thanks for participating in the beta, and sorry for the bug.
  center
    form(method="get", action="mailto:rick.mcgeer@us-ignite.org, acb@cs.princeton.edu")
    table
      tr
        td Name
        td: input(type="text", name="name", value="Your Name", size=30)
      tr
        td Email
        td: input(type="text", name="mail", value = "Your Email", size=20)
      tr
        td Subject
        td: input(type="text", name="subject", value=bugreport, readonly, size=bugreport.length + 3)
      tr
        td Additional Comments
        td: textarea(name="body", rows=10, cols=50, value=bugreport_body)
      tr
        td(colspan=2, style="text-align:center")
          button(type="submit") Submit
    img(src="/images/GEELogo.png")
