extends layout
block pageHeader
	div.pageHeader Error Encountered
block content
	div We encountered an error: #{bugreport}  in performing your slice operation.
	It may or may not affect the configuration of your slice; we've logged the error and are looking into it
	p a.content(href='/user') User Dashboard
