doctype html
html
	head
		if title
			title GEE - #{title}
		else
			title GENI Experiment Engine
		link(rel='stylesheet' href='/styles/main.css')
		block custHead
	body
		div#content
			block content
		div#footer <a href='/send_feedback'>Feedback</a> | <a href='http://geni.net'>GENI</a>
