doctype html
html
	head
		if title
			title GEE - #{title}
		else
			title GENI Experiment Engine
		link(href='/styles/main.css' rel='stylesheet' type='text/css')
		link(href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css')
		block custHead
	body
		div#fullWrapper
			div#pageHeader
				block pageHeader
			div#pageOptions
				block pageOptions
			br
			div#content
				block content
		div#footer <a href='/send_feedback'>Feedback</a> | <a href='http://geni.net'>GENI</a>
