extends layout
block content
		div.pageHeader Dashboard for User #{user}
		div User #{user} logged in, and has no current slicelets.
		div
			a.pageOptions(href='/get_slicelet') Get a Slicelet!
			if admin
				a.pageOptions(href='/admin') Admin Console
