doctype html
body
center
  p User #{user} logged in.
  form(method="get", action='/get_slicelet')
    button(type="submit") Get a Slicelet!
  form(method="get", action='/free_slicelet')
    button(type="submit") Free a Slicelet!
  img(src="/images/GEELogo.png")

