doctype html
body
center
  h1 Dashboard for User #{user}
  p User #{user} logged in, and has no current slicelets.
  form(method="get", action='/get_slicelet')
    button(type="submit") Get a Slicelet!
  img(src="/images/GEELogo.png")

