doctype html
html
head 
  title Welcome to GEE
body
center
  h1 Welcome to the GENI Experiment Engine
  p Please start by signing in with your Google account

  form(method="get", action="/auth/google")
    button(type="submit") Login
  img(src="/images/GEELogo.png")
