doctype html
html
head 
  title Login Failed
body
  p Sorry, we we unable to log you in.  Please try again.
  form(method="post", action="/auth/openid")
    input(type="hidden", name="openid_identifier", value="https://portal.geni.net/server/server.php")
    button(type="submit") Login
  img(src="/images/GEELogo.png")
