extends layout
block custHead
	link(rel="openid.server", href="https://portal.geni.net/server/server.php")
block pageHeader
	div.pageHeader Welcome to the GENI Experiment Engine
block content
	div This website will permit you to allocate and free slicelets, check the status of your slicelets, and download credentials and execution files.
	div Please start by signing in with your demo account.
	form(method="post", action="/auth/demologin")
		input(type="text", name="demo_userid")
		button(type="submit") Login