doctype html
html
head 
  title Slice List
body
  center
    h1 GEE Slices
    table(border=1)
      tr
        th Slice
        th Allocated
        th File
        th Expires
      each slice, i in slices
        tr
          td #{slice.name}
          td #{slice.allocated}
          td #{slice.file}
          td #{slice.expiry_date}
