extends admin_layout
block adminContent
	div.pageHeader GEE Slices
	table(border=1)
		tr
			th Slice
			th Allocated
			th File
			th Expires
		each slice, i in slices
			tr
				td #{slice.name}
				td #{slice.allocated}
				td #{slice.file}
				td #{slice.expiry_date}