doctype html
html
head 
  title Unauthorized User
body
  center
    hi User #{user} Not Registered For GEE Beta
  p Sorry, #{user}, during the beta period only registered users may use the GEE.
  p If you would like to use the GEE for the beta period, please use this form to contact us.
  form(method="get", action="mailto:rick.mcgeer@us-ignite.org, acb@cs.princeton.edu")
    input(type="text", name="name", value="Your Name")
    input(type="text", name="mail", value="#{user}")
    input(type="text", name="subject", value="Please add me to the GEE Beta program")
    textarea(name="body")
    button(type="submit") Submit
  img(src="/images/GEELogo.png")
