extends layout
block pageHeader
	div.pageHeader User #{user} Not Registered For PlanetIgnite Beta
block content
	div Sorry, #{user}, during the beta period only registered users may use PlanetIgnite.
	div If you would like to use PlanetIgnite for during beta period, please use this form to contact us.
	- var subject="Please add " + user + " to the PlanetIgnite Beta program";
	form(method="post", action="/admin/users/add")
		table
			tr
				td Name
				td: input(type="text", name="name", placeholder="Your Name", size=30)
			tr
				td Email
				td: input(type="text", name="email", value="#{user}", readonly, size=20)
			tr
				td Additional Comments
				td: textarea(name="comments", rows=4, cols=50)
			tr
				td(colspan=2, style="text-align:center")
					button(type="submit") Submit