extends user_layout
script.
	window.setTimeout(function() {location.href = "/user";}, 2000);
block userPageOptions
	a.pageOptions(href='/user') User Dashboard 
block content
	div Creating slice #{slice} for user #{user}.  
