doctype html
html
head 
	title User Request Confirmed
body
	center
		h1 Account requested for User #{email}
	p An account has been requested for User #{email} with name #{name}, with comments attached:
	p #{comments}
	center
		img(src="/images/GEELogo.png")
