extends user_layout
block userPageOptions
	a.pageOptions(href='/slice/download') Download Slicelet File
block content
	div Creating slice #{slice} for user #{user}.  You can download your slicelet file, but do not attempt to log in to your nodes until slice creation completes