extends user_layout
block userPageOptions
    form(method = 'get', action = '/slice/get')
        select(name='image')
            each image in images
                option(value=image)  #{image}
        &nbsp;
        button(type="submit") Get a Slicelet!

block content
     User #{user} logged in, and has no current slicelets.