extends layout
block pageHeader
	div.pageHeader Dashboard for User #{user}
block pageOptions
	a.pageOptions(href='/get_slicelet') Get a Slicelet!
	if admin
		a.pageOptions(href='/admin') Admin Console
block content
	User #{user} logged in, and has no current slicelets.