body{
	background-color: #FCDBC1;
}

#content {
	width:800px;
	margin-left:auto;
	margin-right:auto;
	background-color: #FFF;
}

.pageHeader {
	text-align: center;
	padding:20px;
	font-size:30px;
}

#footer{
	font-size:8px;
	text-align: center;
}