body{
	background-color: #F57F20;
	font-family: 'PT Sans', sans-serif;
}

#content {
	width:800px;
	margin-left:auto;
	margin-right:auto;
	background-color: #F8A563;
}

.pageHeader {
	text-align: center;
	padding:20px;
	font-size:30px;
}

.pageOptions {
	padding-right:15px;
}

#footer{
	font-size:12px;
	text-align: center;
}